POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=otobus
DATABASE_URL=postgresql://user:password@localhost:5432/otobus
PORT=8000
CACHED_REDIS_CONNECTION_STRING=redis://localhost:6379

IBB_CLIENT_ID= // you can get these values from otobusum nerede app using Http toolkit program
IBB_CLIENT_SECRET=
IBB_CLIENT_SCOPE=
